<section class="page">
    <header class="page-header">
      <img class="byjus-logo" style="height:100px"
        src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/byjus_logo.png" />
    </header>
    <section class="section">
      <div class="section-heading">
        <h3>KEEP LEARNING</h3>
      </div>
      <div class="section-content">
        <p>
          Assessment is a continuous process which does not end with just an evaluation. In fact this is just the
          beginning. You need to work hard to succeed in tests and interviews and finally do wonders.
        </p>
        <p>
          Having identified improvement areas, you need to ask yourself the following questions:
        <ul class="learning-tips">
          <li>What is the objective? How can I define the goal that I am aiming for?</li>
          <li>What specific methods will I enrol? For example if classes / seminars / Workshops are required then what
            exactly?</li>
          <li>What time frame is realistic for my goals ?</li>
          <li>What resources do I require to make my development happen in a sustained manner?</li>
        </ul>
        </p>
        <p>
          Development initiatives fall into one of the below categories:
        <ul class="learning-tips">
          <li>Self development activities</li>
          <li>Guidance or Counselling</li>
          <li>Administrative support (like projects, classes/seminars/trainings/ workshops, etc.)</li>
        </ul>
        </p>
        <p>
          It is strongly recommended that the report is viewed in its entirety and not a part thereof. The information
          in this report is specific to your performance in BNAT on November 21, 2021.
        </p>
        <p class="thanks-message bold-font">
          Wish you great success as you embark on your journey towards excellence!!
        </p>
      </div>
    </section>
  </section>