<section class="page">
    <header class="page-header">
      <img class="byjus-logo" style="height:100px"
        src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/byjus_logo.png" />
    </header>
    <div class="section">
      <div class="section-heading">
        <h3>WELCOME TO BYJU’S</h3>
        <h3>NATIONAL APTITUDE TEST (BNAT)</h3>
      </div>
      <div class="section-content">
        <p>Dear <span class="bold"> {{full_name}} ,</span></p>
        <p>Thank you for taking BYJU'S National Aptitude Test (BNAT).</p>
        <p>
          You must have been awaiting the outcome and analysis of the
          assessment that you took on {{dateFormat assessment_date format}}. The findings are now
          here. These have been understood, analysed and interpreted to
          comprise this report. You will find an elaborate explanation of your
          Physics, Chemistry and Biology in the report. The findings of this
          report are based entirely on the observations of academic and
          scholastic performance demonstrated by you during the online
          assessment. The information in this report is specific to you.
        </p>
        <p>
          We recommend that you and your parents familiarize yourselves with
          the report before the one-on-one interaction with BYJU'S Education
          Counselor.
        </p>
        <p>
          The BYJU’S Education Counselor will guide you through macro and
          micro analysis of your BNAT result, and assist you in taking the
          right career decision.
        </p>
        <p>We wish you all the very best for your future.</p>
        <p>
          It is strongly recommended that the report is viewed in its entirety
          and not a part thereof.
        </p>
      </div>
    </div>
  </section>