@font-face {
  font-family: "DejaVuSans";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/DejaVuSansCondensed.ttf")
    format("truetype");
}

@font-face {
  font-family: "DejaVuSans-bold";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/DejaVuSansCondensed-Bold.ttf")
    format("truetype");
}

/* Elements */
body {
  width: 868px;
  margin: 0px;
  color: white;
  font-family: "DejaVuSans";
}
p {
  margin: 0px;
}
section {
  background: url(./assets/background.png);
  background-size: cover;
  height: 1076px;
  padding: 20px;
}

/* Text */
.title {
  font-size: 54px;
  font-weight: bold;
  margin: 0px;
}

.subtitle {
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}

.description {
  font-size: 22px;
  margin: 0px;
}

.description-2 {
  font-size: 20px;
}

.boldText1 {
  font-size: 24px;
  font-weight: bold;
}

/* Flex */
.justifyCenter {
  display: flex;
  justify-content: center;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.spaceBetween {
  display: flex;
  justify-content: space-between;
}
.spaceAround {
  display: flex;
  justify-content: space-around;
}
.alignLeft {
  display: flex;
  align-items: left;
}
.divider {
  height: 2px;
  background-color: white;
  border-radius: 200;
  width: 90%;
  margin: 20px 30px;
}
.flexDirectionRow {
  display: flex;
  flex-direction: row;
}
.flexDirectionCol {
  display: flex;
  flex-direction: column;
}
.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}
.ml40 {
  margin-left: 40px;
}
.mt5 {
  margin-top: 5px;
}
.ml25 {
  margin-left: 25px;
}
.subtitle-2 {
  font-size: 27px;
  font-weight: bold;
  margin: 0px;
}
.title-underline {
  width: 75%;
  padding: 1px;
  background-color: rgb(144, 89, 167);
  margin-top: 6px;
}
.title-adjustment {
  padding: 40px 0px 0px 40px;
}
.title-underline-adjustment {
  margin: 6px 0px 0px 40px;
}
.description-container {
  width: 67%;
  margin: 70px 0px 0px 145px;
  height: 700px;
}
.content-container {
  width: 85%;
  height: 800px;
}
.unit-container {
  width: 100%;
}
.last-page-content-container {
  width: 90%;
  height: 850px;
}
