@font-face {
  font-family: "DejaVuSans";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/DejaVuSansCondensed.ttf")
    format("truetype");
}

@font-face {
  font-family: "DejaVuSans-bold";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/DejaVuSansCondensed-Bold.ttf")
    format("truetype");
}

/* Elements */
body {
  width: 868px;
  margin: 0px;
  color: white;
  font-family: "DejaVuSans";
}
p {
  margin: 0px;
}
section {
  background: url(./assets/background.png);
  background-size: cover;
  height: 1076px;
  padding: 20px 40px;
}

/* Text */
.title {
  font-size: 54px;
  font-weight: bold;
  margin: 0px;
}

.subtitle {
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}

.description {
  font-size: 22px;
  margin: 0px;
}

.boldText1 {
  font-size: 24px;
  font-weight: bold;
}

/* Flex */
.justifyCenter {
  display: flex;
  justify-content: center;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
}

.divider {
  height: 2px;
  background-color: white;
  border-radius: 200;
  width: 90%;
  margin: 20px 30px;
  opacity: 0.4;
}

.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}

/* Banners */
.banner {
  background: linear-gradient(180deg, #8a4493 0%, rgba(255, 255, 255, 0) 100%);
  padding: 30px;
  border-radius: 30px;
  margin: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hornImage {
  width: 60px;
  margin-right: 30px;
}

.card {
  min-height: 200px;
  min-width: 200px;
  text-align: center;
  padding: 30px;
  display: inline-block;
  background-color: #645184;
  border-radius: 20px;
  margin-top: 30px;
}

.cardImage {
  width: 100px;
}
