<section class="page">
    <header class="page-header">
      <img class="byjus-logo" style="height:100px"
        src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/byjus_logo.png" />
    </header>
    <div class="section">
      <div class="section-heading">
        <h3>ABOUT THIS REPORT</h3>
      </div>
      <div class="section-content">
        <p>
          This report provides an in-depth description of your responses to
          the BYJU'S National Aptitude Test (BNAT). It is designed to help you
          identify and understand your potential and learning pattern.
        </p>
        <p>
          a) The findings of this report are based entirely on the
          observations of academic and scholastic competence demonstrated by
          you during the online BYJU'S National Aptitude Test (BNAT). The
          information in this report is specific to you.
        </p>
        <p>
          b) When you are making career decisions gather as much information
          as possible.
        </p>
        <p>
          c) The analysis drawn in this report are based on single evidence
          and hence must be supplemented with other information such as
          academic grades, etc. The results of this report should be used with
          caution.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="section-heading">
        <h3>THE REPORT CONTAINS THE FOLLOWING SECTIONS</h3>
      </div>
      <div class="section-content">
        <p>Section A - Learning Pattern Analysis</p>
        <p>Section B - Test Summary</p>
        <p>Section C - Keep Learning</p>
      </div>
    </div>
  </section>