<section class="page">
    <header class="page-header justifyEnd">
      <img class="byjus-logo" style="height:100px"
        src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/byjus_logo.png" />
    </header>
    <section class="section">
      <div class="section-heading">
        <h3>LEARNING PATTERN ANALYSIS</h3>
      </div>
      <div class="section-content">
        {{#with learning4}}
        {{#each points}}
          <p>
            {{this.title}}
            <span
              class="{{printValue this.name @root 'value'}} bold-font"
            >({{printValue this.name @root 'value'}}):</span>
            {{this.description}}
          </p>
        {{/each}}
      {{/with}}
      </div>
    </section>
  </section>