<section class="page">
  {{#with about}}
    <header class="page-header justifyEnd">
      <img class="byjus-logo" style="height:100px"
        src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/byjus_logo.png" />
    </header>
    <div class="section">
      <div class="section-heading">
        <h3>ABOUT THIS REPORT</h3>
      </div>
      <div class="section-content">
        {{#each content}}
        <p>
          {{this}}
        </p>
        {{/each}}
      </div>
    </div>
    <div class="section">
      <div class="section-heading">
        <h3>THE REPORT CONTAINS THE FOLLOWING SECTIONS</h3>
      </div>
      <div class="section-content">
        <p>Section A - Learning Pattern Analysis</p>
        <p>Section B - Test Summary</p>
        <p>Section C - Keep Learning</p>
      </div>
    </div>
    {{/with}}
  </section>