<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="http://localhost:3000/stylesheets/k10/k10_styles.css" />
  <script src="https://www.chartjs.org/dist/master/chart.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Shippori+Mincho&display=block" rel="stylesheet" rel="preload"
    as="style" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=block" rel="stylesheet" rel="preload" as="style" />
</head>

<body>
  {{>main}}
</body>

</html>