@page {
  size: auto;
}

@font-face {
  font-family: "DejaVuSans";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/DejaVuSansCondensed.ttf")
    format("truetype");
}

@font-face {
  font-family: "DejaVuSans-bold";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/DejaVuSansCondensed-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "NotoSans";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/NotoSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "NotoSans-bold";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/NotoSans-Bold.ttf")
    format("truetype");
}

body {
  font-family: "DejaVuSans";
  margin: 0;
}

.keep-learning {
  background-image: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/learning-min2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 10.25in;
  height: 13.25in;
}
.bnat-k10 {
  width: 100%;
}

/*Flex*/

.justifyCenter {
  display: flex;
  justify-content: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.justifyColumnCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.justifyStart {
  display: flex;
  justify-content: flex-start;
}

.justifyEnd {
  display: flex;
  justify-content: flex-end;
}

.justifyAround {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.justifyEven {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.justifyBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-report-title {
  width: 650px;
  height: 60px;
  font-size: 24px;
  border-radius: 20px;
  border: 2px purple solid;
  align-items: center;
}

.student-name-container {
  margin-top: 20px;
  font-size: 30px;
}

.assessment-container {
  font-size: 24px;
}

.assessment-value {
  margin-left: 20px;
  color: purple;
}

.circle-percentage-container {
  height: 250px;
  width: 250px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
}
.circle-percentage {
  width: 100px;
  border: 15px solid #e8a701;
  height: 100px;
  border-radius: 75px;
  align-items: center;
  color: rgb(82, 82, 216);
  font-size: 30px;
}

/* Styles */

@media print {
  .page {
    page-break-after: always;
  }
}

.section {
  padding: 50px 100px;
}

.section-heading {
  position: relative;
  font-size: 26px;
  color: purple;
}

.section-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 200px;
  border-top: 2px solid purple;
}

.section-heading h3 {
  margin: 0;
}

.section-heading h3:first-child {
  margin-bottom: 10px;
}

/* Section content */
.section-content {
  margin-top: 50px;
}

.section-content .bold {
  font-family: "DejaVuSans-bold";
}

.section-content p {
  margin: 0px 0 20px 0;
  font-size: 22px;
}

.student-performance {
  font-size: 25px;
  color: purple;
  width: 10%;
  margin-left: 20%;
  margin-left: 16%;
  margin-bottom: 30px;
}

.analytics-heading {
  position: relative;
  font-size: 26px;
  color: purple;
}

.box-container {
  padding: 5px;
  margin-bottom: 20px;
}

.box {
  align-items: left;
  background-color: purple;
  padding: 10px;
  border-radius: 5%;
  height: 140px;
  width: 140px;
}

.box-header {
  font-size: 20px;
  color: white;
}

.box-mid {
  background-color: white;
  width: 30%;
  margin: 10px 0;
  padding: 1px 0;
}

.box-footer {
  font-size: 30px;
  color: white;
}

.test-summary {
  background-color: #f1e2f1;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.table-parent {
  background-color: white;
  width: 50rem;
  border-radius: 5%;
  padding: 1rem;
  align-items: center;
}

.table-row {
  align-items: top;
  display: flex;
  width: 100%;
}

.table-section {
  border: 1px solid grey;
  width: 8rem;
  height: 4rem;
  text-align: center;
  align-items: center;
}

.table-section-font {
  font-size: 13px;
  font-weight: 600;
  color: black;
}

.table-value-font {
  color: purple;
  font-size: 13px;
}

.first-page {
  align-items: center;
  background: #833187;
}

.badge-message {
  background: #45255a;
  font-size: 1em;
  width: 100%;
  height: 50px;
  align-items: center;
  color: white;
}

ul li::before {
  width: 1em2;
}

.section-circle {
  margin-bottom: 300px;
}

.learning-circle {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.circle-1 {
  background-color: #ffdafe;
  margin: -10px 40px 20px 300px;
}

.circle-2 {
  background-color: #98afc7;
  margin: 105px 40px 20px 200px;
}

.circle-3 {
  background-color: #81d8d0;
  margin: 105px 40px 20px 400px;
}

.circle-4 {
  background-color: #98afc7;
  margin: -10px 40px 20px 500px;
}

.learning-inner {
  font-size: 22px;
  font-family: "DejaVuSans";
  position: absolute;
  text-align: center;
}

.inner-1 {
  top: 40%;
  left: 30px;
  line-height: 0px;
}

.inner-2 {
  top: 55%;
  left: 60px;
  line-height: 10px;
}

.bold-font {
  font-family: "DejaVuSans-bold";
  font-weight: bold;
}

.Focus {
  font-family: "DejaVuSans-bold";
  color: #ff0000e8;
  font-weight: bold;
}

.Good {
  color: #ffc400;
}

.Excellent {
  color: #09ff00;
}

.learning-tips {
  font-size: 21px;
  line-height: 24px;
}

.thanks-message {
  position: relative;
  left: 40px;
}
.circle-box-container {
  width: 100%;
  height: 332px;
}
.circle-text {
  font-size: 24px;
  margin: 12px;
}
.percentile-box {
  width: 45%;
  height: 100%;
  flex-direction: column !important;
}
.percentile-container {
  width: 100%;
}
.percentile {
  flex-direction: column;
  padding: 15px 80px 10px 80px;
  border-radius: 10px;
}
.you-percentile {
  justify-content: space-around !important;
  flex-direction: column;
}
