<div class="unit-container alignCenter spaceBetween">
  <img width="105px" height="105px" src="{{image}}" />
  <div class="flexDirectionCol alignLeft spaceBetween ml25">
    <p class="subtitle-2">{{itemTitle}}</p>
    <p class="description mt5">
      {{itemDescription}}
    </p>
  </div>
</div>