<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://dx5zlk5th4g9t.cloudfront.net/bdt2.0-assets/stylesheet/styles.css" />
  </head>
  <body>
    {{>main}}
  </body>
</html>