<section>
  <p class="title title-adjustment">A note from our team</p>
  <div class="title-underline title-underline-adjustment"></div>
  <div class="description-container flexDirectionCol alignCenter spaceBetween">
    <p class="description">
      Hi there. We understand that Tarun is a wonderful student, and the
      pandemic situation likely caused many hurdles in the learning journey over
      the past year.
    </p>
    <p class="description">
      We believe that the right intervention and the right modes of learning,
      practice and testing would enable every child to become a better version
      of themselves.
    </p>
    <p class="description">
      With that awareness, and the knowledge and tools to identify learning
      patterns and skills, we have designed this diagnostic test to help
      identify where and what the learning gaps are.
    </p>
    <p class="description">
      To enable students to make up for such losses, we have designed bridge
      courses that deal with pre-requisites and topics that are critical for
      science and mathematics in current and future grades.
    </p>
    <p class="description">
      This diagnostic test is designed with 20 questions that probe different
      skill areas and critical concepts from the previous grade across various
      levels of difficulty.
    </p>
    <p class="description">
      This report is an attempt to make you aware of gaps, if any, and to
      reassure you that we are here to help.
    </p>
  </div>
</section>