<section>
  <p class="title title-adjustment">Remedial Option -</p>
  <p class="title ml40">BYJU’S Bridge-Course</p>
  <div class="title-underline title-underline-adjustment"></div>
  <div
    class="last-page-content-container flexDirectionCol alignCenter spaceAround mt20 ml40"
  >
    <p class="description-2">
      We have customized our BYJU’S Classes with Two-Teacher Advantage learning
      model with feedback from multiple parents and students to build the BYJU’S
      Bridge-Classes.
    </p>

    <p class="description-2">
      We understand that the pandemic might have led to forgetting the basics,
      not strengthening the foundations, not having practiced enough and skilled
      up to apply concepts learnt. The purpose of this diagnostic test was to
      identify gaps in learning across concepts and skills.
    </p>

    <div class="description-2">
      <p class="subtitle-2">How can this help {{@root.full_name}} ?</p>
      <p class="mt5">
        The Bridge Course is a set of classes that {{@root.full_name}} can take to address
        these gaps. The two-teacher session-format - one for guidance,
        doubt-solving and practice - and another for delivering conceptual
        clarity through well-crafted videos - along with strong support from
        {{@root.full_name}} mentors would help {{@root.full_name}} cope up before exploring topics in the
        current grade.
      </p>
    </div>
    <img width="500" height="400" src="https://dx5zlk5th4g9t.cloudfront.net/bdt2.0-assets/blc.png" />
  </div>
</section>