body {
  width: 868px;
}

.hornImage {
  width: 40px;
  margin-right: 20px;
}
.justifycenter {
  display: flex;
  justify-content: center;
}

.divider {
  height: 2px;
  border-radius: 20px;
  background-color: #904295;
  width: 90%;
}

.title {
  font-size: 54px;
  margin: 0 !important;
  padding: 30px;
}

.banner {
  padding: 20px 40px;
  background: linear-gradient(180deg, #8a4493 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  justify-content: space-between;
  width: 60%;
  font-size: 14px;
  border-radius: 20px;
  font-size: 20px;
  align-items: center;
  margin-top: 40px;
}

@page {
  size: auto;
}

@font-face {
  font-family: "DejaVuSans";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/DejaVuSansCondensed.ttf")
    format("truetype");
}

@font-face {
  font-family: "DejaVuSans-bold";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/DejaVuSansCondensed-Bold.ttf")
    format("truetype");
}

/* @font-face {
    font-family: "DejaVuSans-oblique";
    src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/DejaVuSansCondensed-Oblique.ttf") format("truetype");
  } */

@font-face {
  font-family: "NotoSans";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/NotoSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "NotoSans-bold";
  src: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/fonts/NotoSans-Bold.ttf")
    format("truetype");
}

body {
  font-family: "DejaVuSans";
  /* background-image: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/cover.png");
      background-repeat: no-repeat; */
  /* background-size: 821px 1185px; */
  margin: 0;
}

.keep-learning {
  background-image: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/learning-min2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 10.25in;
  height: 13.25in;
}

.bnat-k10 {
  width: 100%;
}

.student-report-title-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 40px;
  font-size: 54px;
  color: white;
}

.first-page-section-container {
  display: flex;
  justify-content: center;
}

.first-page-section {
  width: 70%;
  margin: 0 20px;
  font-size: 20px;
}

.second-page-section-container {
  display: flex;
  justify-content: flex-start;
}

.second-page-section {
  width: 83%;
  margin: 0 40px;
  font-size: 18px;
}

.circle-percentage-container {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
}

.circle-percentage {
  width: 100px;
  border: 15px solid #e8a701;
  height: 100px;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-page {
  margin-top: 32em;
  height: 10em;
  background: white;
  display: flex;
  justify-content: flex-start;
}

.second-page-header {
  display: flex;
  justify-content: flex-end;
}

/* Styles */

@media print {
  .page {
    page-break-after: always;
  }
}

.section {
  padding: 50px 100px;
}

.section-heading {
  position: relative;
  font-size: 26px;
  color: purple;
}

.section-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 200px;
  border-top: 2px solid purple;
}

.section-heading h3 {
  margin: 0;
}

.section-heading h3:first-child {
  margin-bottom: 10px;
}

/* Section content */
.section-content {
  margin-top: 50px;
}

.section-content .bold {
  font-family: "DejaVuSans-bold";
}

.section-content p {
  margin: 0px 0 20px 0;
  font-size: 22px;
}

/* The ribbon */
.ribbon {
  font-family: "DejaVuSans-bold";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;

  width: 500px;
  height: 70px;
  position: absolute;
  animation: drop forwards 0.8s 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.student-performance {
  font-size: 25px;
  color: purple;
  width: 10%;
  margin-left: 20%;
  margin-left: 16%;
  margin-bottom: 30px;
}

.analytics-heading {
  position: relative;
  font-size: 26px;
  color: purple;
}

.box-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  background-color: purple;
  padding: 10px;
  border-radius: 5%;
  height: 140px;
  width: 140px;
}

.box-header {
  font-size: 20px;
  color: white;
}

.box-mid {
  background-color: white;
  width: 30%;
  margin: 10px 0;
  padding: 1px 0;
}

.box-footer {
  font-size: 30px;
  color: white;
}

.test-summary {
  background-color: #f1e2f1;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.table-parent {
  margin-top: 1rem;
  background-color: white;
  width: 50rem;
  height: 25rem;
  border-radius: 5%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.table-row {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: row;
  width: 100%;
}

.table-section {
  border: 1px solid grey;
  width: 8rem;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-section-font {
  font-size: 13px;
  font-weight: 600;
  color: black;
}

.table-value-last {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-value-font {
  color: purple;
  font-size: 13px;
}

.ribbon:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: -35px;
  top: 0px;
  bottom: 0;
  border-bottom: 35px solid #45255a;
  border-left: 35px solid transparent;
  border-top: 35px solid #45255a;
}

.ribbon:after {
  content: "";
  position: absolute;
  z-index: 2;
  right: -35px;
  top: 0px;
  bottom: 0;
  border-bottom: 35px solid #45255a;
  border-right: 35px solid transparent;
  border-top: 35px solid #45255a;
}

/* Result Section */

.result-section {
  display: flex;
  align-items: center;
  width: 100%;
}

.report {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 15px;
  width: calc(100% - 100px);
  height: 80px;
  background-color: #45255a;
  position: relative;
  animation: drop forwards 0.8s 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: right;
  flex: 1;
  justify-content: flex-end;
  padding: 0px 50px 0 100px;
  box-sizing: border-box;
}

.report-right {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 15px;
  width: calc(100% - 100px);
  height: 80px;
  background-color: #45255a;
  position: relative;
  animation: drop forwards 0.8s 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 0px 100px 0 40px;
  box-sizing: border-box;
}

.report:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 100px solid #fff;
  border-right: 100px solid transparent;
  position: absolute;
  top: 0px;
  left: -1px;
}

.report-right:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 100px solid #fff;
  border-top: 100px solid transparent;
  position: absolute;
  top: -1px;
  right: -1px;
}

.circle {
  font-family: "DejaVuSans-bold";
  min-width: 110px;
  height: 110px;
  border-radius: 100%;
  background-color: #e97e24;
  position: relative;
  z-index: 2;
  left: -35px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 24px;
}

/* report-section */
.report-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 2%;
  box-shadow: 0px 0px 10px 5px #5b235e;
  padding: 2.2em;
  position: relative;
  margin-top: 30px;
  width: 80%;
}

.right-circle {
  left: 25px;
}

.down-report {
  margin-top: 10px;
}

.empty-span {
  width: 75px;
}

.marks-section {
  display: flex;
  font-family: "NotoSans";
  width: 100%;
}

.marks-sub-section {
  width: 50%;
}

.student-name {
  font-size: 1.5em;
}

.pdf-title {
  font-family: "DejaVuSans-bold";
  font-size: 30px;
  color: white;
  margin: 10px;
}

.content-page {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}

.first-page {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  background: #833187;
  color: white;
}

.first-page-title {
  font-size: 48px;
}

.bnat-logo {
  height: 80px;
  width: 280px;
}

.badge-message {
  background: #45255a;
  font-size: 1em;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.address-line {
  font-size: 12px;
  font-family: "DejaVuSans-bold";
}

.side-heading {
  font-family: "DejaVuSans-bold";
  font-size: 12.5px;
  font-weight: bold;
  color: #a9a9a9;
}

.side-values {
  font-family: "DejaVuSans-bold";
  font-size: 10.5px;
  color: purple;
}

.class-details {
  font-family: "DejaVuSans-bold";
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.air-header {
  font-family: "DejaVuSans-bold";
  font-size: 18px;
}

.air-value {
  font-family: "DejaVuSans-bold";
  font-size: 15px;
  color: purple;
}

.air-container {
  margin-top: 25px;
}

ul li::before {
  width: 1em2;
}

.page-header {
  display: flex;
  justify-content: flex-end;
}

.section-circle {
  margin-bottom: 300px;
}

.content-heading {
  font-size: 60px;
  color: white;
  padding: 45px 5px 10px 80px;
}

.circle-1 {
  height: 160px;
  width: 160px;
  background-color: #ffdafe;
  border-radius: 50%;
  margin: -10px 40px 20px 300px;
  display: inline-block;
  position: absolute;
}

.circle-2 {
  height: 160px;
  width: 160px;
  background-color: #98afc7;
  border-radius: 50%;
  margin: 105px 40px 20px 200px;
  display: inline-block;
  position: absolute;
}

.circle-3 {
  height: 160px;
  width: 160px;
  background-color: #81d8d0;
  border-radius: 50%;
  margin: 105px 40px 20px 400px;
  display: inline-block;
  position: absolute;
}

.circle-4 {
  height: 160px;
  width: 160px;
  background-color: #98afc7;
  border-radius: 50%;
  margin: -10px 40px 20px 500px;
  display: inline-block;
  position: absolute;
}

.inner-1 {
  font-family: "DejaVuSans";
  position: absolute;
  top: 40%;
  left: 30px;
  text-align: center;
  line-height: 0px;
}

.inner-2 {
  font-family: "DejaVuSans";
  position: relative;
  top: 55%;
  left: 60px;
  text-align: center;
  line-height: 10px;
}

.remarks-1 {
  font-family: "DejaVuSans-bold";
  color: #ff0000e8;
  font-weight: bold;
}

.remarks-2 {
  font-family: "DejaVuSans-bold";
  color: #ffc400;
  font-weight: bold;
}

.Focus {
  font-family: "DejaVuSans-bold";
  color: #ff0000e8;
  font-weight: bold;
}

.Good {
  font-family: "DejaVuSans-bold";
  color: #ffc400;
  font-weight: bold;
}

.Excellent {
  font-family: "DejaVuSans-bold";
  color: #09ff00;
  font-weight: bold;
}

.learning-tips {
  font-size: 21px;
  line-height: 24px;
}

.thanks-message {
  font-family: "DejaVuSans-bold";
  font-weight: bold;
  position: relative;
  left: 40px;
}

.description {
  width: 85%;
}

.circular-progress-bar {
  margin: 70px;
  width: 200px;
  height: 200px;
  border-radius: 125px;
  border: 15px solid purple;
}

.inner-circle {
  height: 100%;
  width: 100%;
  border: 150px;
  border: 15px solid white;
}

.progress-circle {
  font-size: 20px;
  margin: 20px;
  position: relative;
  /* so that children can be absolutely positioned */
  padding: 0;
  width: 5em;
  height: 5em;
  background-color: #f2e9e1;
  border-radius: 50%;
  line-height: 5em;
  float: left;
}

.progress-circle:after {
  border: none;
  position: absolute;
  top: 0.35em;
  left: 0.35em;
  text-align: center;
  display: block;
  border-radius: 50%;
  width: 4.3em;
  height: 4.3em;
  background-color: white;
  content: " ";
}

/* Text inside the control */
.progress-circle span {
  position: absolute;
  line-height: 5em;
  width: 5em;
  text-align: center;
  display: block;
  color: #53777a;
  z-index: 2;
}

.left-half-clipper {
  /* a round circle */
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute;
  /* needed for clipping */
  clip: rect(0, 5em, 5em, 2.5em);
  /* clips the whole left half*/
}

/* when p>50, don't clip left half*/
.progress-circle.over50 .left-half-clipper {
  clip: rect(auto, auto, auto, auto);
}

.value-bar {
  /*This is an overlayed square, that is made round with the border radius,
 then it is cut to display only the left half, then rotated clockwise
 to escape the outer clipping path.*/
  position: absolute;
  /*needed for clipping*/
  clip: rect(0, 2.5em, 5em, 0);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.45em solid #53777a;
  /*The border is 0.35 but making it larger removes visual artifacts */
  /*background-color: #4D642D;*/
  /* for debug */
  box-sizing: border-box;
}

.progress-circle.p83 .value-bar {
  transform: rotate(299deg);
}

.first-page {
  background-image: url("https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/bdt+2.0/All+page+assets+PNGs+%26+SVGs/Page+2/PNG/Asset+63%40200x.png");
  background-repeat: no-repeat;
  min-height: 1056px;
  background-size: cover;
}

.separator {
  margin: 10px 0 40px 40px;
  width: 80%;
}

.first-heading {
  margin-top: 40px;
}

.second-desc-header {
  margin-bottom: 10px;
}

.classes-container {
  margin: 20px 0 0 60px;
  display: flex;
  justify-content: flex-start;
}

.classes-image {
  height: 480px;
}

.final-page-separator {
  margin-bottom: 10px;
}

.content-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.contenet-unit {
  display: flex;
  padding: 0px 0px 0px 61px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.content-icon {
  padding: 40px;
  background-color: rgb(208, 115, 236);
  border-radius: 50%;
}

.content-text {
  margin-left: 35px;
  width: 450px;
}

.page-icon {
  height: 80px;
  width: 80px;
}

.items-content {
  color: white;
  font-size: 22px;
  margin-bottom: 3px;
}

.items-sub-content {
  color: white;
  font-size: 18px;
  margin-top: 0;
}
.bullet-page-title {
  font-size: 58px;
}

/* unit wise gap analysis page */
.unit-gap-page {
  width: 868px;
}
.unit-gap-analysis-section {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
}

.unit-wise-analysis-hr {
  margin: 12px 120px 23px 40px;
}

.score-title {
  display: flex;
  justify-content: right;
  padding-right: 40px;
}

.score-title-text {
  padding-bottom: 4px;
  border-bottom: 1px solid white;
}

.unit-subject-card {
  border: none;
  background: none;
  height: 100%;
  position: relative;
  flex-basis: 20%;
}

.unit-subject-card img {
  width: 100%;
}

.unit-subject-card-title {
  position: absolute;
  bottom: 32px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.unit-subject-details {
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  justify-content: center;
}

.subject-item {
  display: flex;
  align-items: center;
}

.subject-name {
  flex-basis: 25%;
  /* margin-top: 36px; */
  font-size: 18px;
  text-align: right;
  color: rgba(255, 255, 255, 0.4);
}

.subject-percentage-item {
  flex-basis: 55%;
  margin-left: 16px;
  position: relative;
}

.subject-percentage-item img {
  width: 100%;
}

.percentage-value {
  position: absolute;
  bottom: 12px;
}

.subject-percentage-avatar {
  margin-left: 12px;
}

.subject-percentage-avatar img {
  width: 32px;
}

.subject-score-item {
  margin-left: 32px;
  font-size: 18px;
}

.unit-analysis {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 16px 0;
}

.unit-analysis img {
  width: 80%;
}

.unit-analysis-text {
  width: 55%;
  position: absolute;
  top: 60px;
  font-size: 18px;
  left: 240px;
  line-height: 1.2;
}

.unit-gap-problem-section {
  position: relative;
}

.unit-gap-problem-text-container {
  position: absolute;
  top: 48px;
  left: 64px;
  width: 80%;
  font-size: 16px;
}

.unit-gap-problem-title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.unit-gap-problem-text {
  margin: 0;
}
